# Database (PostgreSQL - Prisma)
DB_HOST=localhost
DB_PORT=5434
DB_USER=tdt_user
DB_PASSWORD=123456
DB_NAME=bookingcare-website
DATABASE_URL="postgresql://tdt_user:123456@localhost:5434/bookingcare-website?schema=public"

# App
NODE_ENV=development
PORT=8080